body {
  margin: 0px;
  padding: 0px;
}

.navbar {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-weight: bold;
}

.first {
  height: 500px;
  width: 100%;
  background-color: #151515;
  margin: 0;
  padding: 0;
  padding-top: 100px;
}

.btn {
  background-color: #151515;
  border: 1px solid grey;
  font-weight: bold
}

.btn:hover {
  background-color: #ff1b4e;
  border: 1px solid #ff1b4e;
  color: #fff;
}

.second {
  height: 500px;
  width: 100%;
  background-color: #ff1b4e;
  margin: 0;
  padding: 0;
  padding-top: 100px;
}

.imgRedonda {
    width:200px;
    height:200px;
    border-radius:150px;
}
