/* Estilos generales */

* {
  margin: 0;
  padding: 0;
}

.down {
  background-color: #151515;
}

.navbar-collapse {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: none;
}

.navbar-toggler-icon {
  color: red;
}

.nav-item .nav-link {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.nav-item .nav-link:hover {
  color: grey;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.home, .projects, .contact {
  background-color: #151515;
  color: grey;
}

.about-me, .skills {
  background-color: #030202;
  color: #fff;
  padding-top: 100px;
}

.home, .about-me, .projects, .contact {
  width: 100%;
  min-height: 110vh;
  padding-top: 100px;
}

.skills {
  width: 100%;
  min-height: 50vh;
}

.contact {
  width: 100%;
  min-height: 20vh;
}

/* Home secction */

.home {
  background-image: url(../img/fondo.png);
  background-position: center 30%;
  background-size: cover;
}

.navbar-brand {
  margin-left: 2em;
}

.logo {
  width:130px;
  height:130px;
  padding: 1em;
  margin: 1em;
}

.frond h1 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.frond p {
  font-size: 4em;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.btn {
  color: grey;
  background-color: #1f1f1f;
  border: 1px solid grey;
  font-weight: bold;
  margin: 1em;
}

.btn a {
  color: grey;
  font-weight: bold;
}

.btn:hover {
  background-color: #ff1b4e;
  border: 1px solid #ff1b4e;
  color: #fff;
}

.btn a:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.fa-arrow-circle-down {
  margin: 0.7em;
  color: #ff1b4e;
  cursor: pointer;
}

.fa-arrow-circle-down:hover {
  color: grey;
}

/* About me secction */

.imgRedonda {
    width:230px;
    height:230px;
    border-radius:150px;
    border: 6px solid #fff;
    margin: 1em;
}

.fa-envelope-square {
  margin: 0.3em;
  cursor: pointer;
}

/* Projects secction */

.texto {
  position: absolute;
  bottom: 0;
  padding: 100px 100px 50px 0px;
}

.texto h2 {
  color: #ff00ff;
}

.texto h2:hover {
  color: #fff;
}

.texto h3 {
  color: #fff;
  font-size: 2em;
}

.texto h3:hover {
  color: #ff00ff;
}

.work {
  width: 50%;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

.work img {
  width: 450px;
  height: auto;
}

/* Skills secction */

.icon {
  font-size: 5em;
  color: grey;
}

/* Contact secction */

.iconContact {
  color: grey;
}

.iconContact:hover {
  color: #ff1b4e;
}

.fa-chevron-circle-up {
  margin: 0.7em;
  color: #ff1b4e;
}
