/* Estilos generales */

* {
  margin: 0;
  padding: 0;
}

.down {
  background-color: #151515;
}

.fa-chevron-circle-down {
  margin: 0.7em;
  color: #ff1b4e;
  cursor: pointer;
}

.fa-chevron-circle-down:hover {
  color: grey;
}

.navbar-collapse {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: none;
}

.navbar-toggler-icon {
  color: red;
}

.nav-item .nav-link {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.nav-item .nav-link:hover {
  color: grey;
  font-size: 0.9em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.home, .projects, .contact {
  background-color: #151515;
  color: grey;
}

.skills {
  background-color: #eaeaea;
  color: #fff;
  padding-top: 100px;
}

.about-me {
  background-color: #eaeaea;
}

.home, .projects, .contact {
  width: 100%;
  min-height: 110vh;
  padding-top: 100px;
}

.about-me {
  width: 100%;
  min-height: 110vh;
  padding-top: 70px;
}

.skills {
  width: 100%;
  min-height: 50vh;
}

.contact {
  width: 100%;
  min-height: 20vh;
}

/* Home secction */

.home {
  background-image: url(../img/fondo.png);
  background-position: center 30%;
  background-size: cover;
}

.logo {
  width:130px;
  height:130px;
  padding: 1em;
  margin: 1em;
}

.front h1 {
  font-size: 1.5em;
  font-weight: lighter;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
}

.front p {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  color: grey;
  background-color: rgba(31, 31, 31, 0.51);
  border: 1px solid grey;
  font-weight: bold;
  margin: 1em;
}

.btn a {
  color: grey;
  font-weight: bold;
}

.btn:hover {
  background-color: #ff1b4e;
  border: 1px solid #ff1b4e;
  color: #fff;
}

.btn a:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

/* About me secction */

.imgRedonda {
  width:250px;
  height:250px;
  border-radius:150px;
  margin: 2em;
}

.about-me h1 {
  color: grey;
}

.about-me p {
  color: #353535;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 11pt;
  line-height: 16pt;
}

/* Projects secction */

.work {
  width: 50%;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
}

.texto {
  position: absolute;
  bottom: 0;
  padding: 100px 100px 50px 0px;
}

.texto h2 {
  color: #ff00ff;
}

.texto h2:hover {
  color: #fff;
}

.texto h3 {
  color: #fff;
  font-size: 2em;
}

.texto h3:hover {
  color: #ff00ff;
}

.work img {
  width: 450px;
  height: auto;
}

/* Skills secction */

.icon {
  font-size: 5em;
  color: grey;
}

/* Contact secction */

.iconContact {
  color: grey;
}

.iconContact:hover {
  color: #ff1b4e;
}

.fa-chevron-circle-up {
  margin: 0.7em;
  color: #ff1b4e;
}

.fa-envelope-square {
  margin: 0;
  padding: 0;
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {

  .home h1 {
    font-size: 1em;
  }

  .home p {
      font-size: 1em;
    }

  .projects .work {
      padding: 3em 2em;
  }

  .work img {
    width: 250px;
    height: auto;
  }

  .work {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .work h1 {
    display: none;
  }

  .about-me, .projects, .skills .contact {
    padding: 0;
    margin: 0;
  }

}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {

  .home h1 {
    font-size: 1em;
  }

  .home p {
      font-size: 1em;
    }

  .projects .work {
      padding: 3em 2em;
  }

  .work img {
    width: 250px;
    height: auto;
  }

  .work {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .work h1 {
    display: none;
  }

  .home, .about-me, .projects, .skills .contact {
    padding: 0;
    margin: 0;
  }

}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {

  .home h1 {
    font-size: 1em;
  }

  .home p {
      font-size: 1.8em;
    }

  .projects .work {
      padding: 3em 2em;
  }

  .work img {
    width: 250px;
    height: auto;
  }

  .work {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .work h1 {
    display: none;
  }

  .home, .about-me, .projects, .skills .contact {
    padding: 0;
    margin: 0;
  }

}
